/*GOOGLE FONTS*/ 
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cinzel:wght@400;500&display=swap');
/*ESTILOS index.html*/
/*¿Menú desplegable? VER position y display para armarlo*/
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.contenedor-header{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4c2412;
    opacity: 40%;
    height: 100px;
    width: 100%;
}
.contenedor-header__isologo{ /*Debería aparecer en la esquina superior izquierda*/
    width: 65px;
    padding: 15px;
    align-self: flex-start;
}
nav ul li{
    background-color: #4c2412;
    display: inline;
    position: sticky;
    top: 5px;
    padding: 2px 20px 10px 25px;
    font-size: 20px;
    font-style: normal;
    list-style: none; /*Sigue subrayado incluso con text-decoration: none;*/
    color: white /*NO FUNCIONA*/
}
nav ul li:hover{
    background-color: grey;
    cursor: pointer;
}
/* TAMPOCO FUNCIONA EL COLOR DEL NAV ASÍ:
______________________________________________________
.menu{
list-style: none;
}
.menu__item{
text-decoration: none;
color: white;
}
*/
.portada-principal{
    background-image: url(../assets/img/fondo.png);
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
/*
.contenido{
    margin: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center */
} 
/*Con flexbox no podía alinear .contenido con respecto a #paleta-cromatica*, con grid cambié el wireframe*/
#paleta-cromatica{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.contenedor-footer{
    /*NO FUNCIONABA: display: inline; cambié a flexbox*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #4c2412;
    opacity: 40%;
    text-decoration: none;
    height: 100px;
    width: 100%;
    color: white /*NO FUNCIONA*/

} /*PRUEBA DE GRID en filas y columnas
________________________________________
.grid__template{
    display: grid;
    height: 1000px;
    background-color:#0000ff;
    grid-template-columns:repeat(3, 2fr); 
    grid-template-rows: repeat(5, 2fr); 
}*/
#grilla{ /*Las fotos no ocupan el 100% del área ¿Cómo solucionarlo?)*/
    display: grid;
    margin: 70px;
    height: 100vh;
    grid-template-areas:
    "portada-texto ambientes-portada__1 ambientes-portada__2"
    "primer-paleta ambientes-portada__1 ambientes-portada__2"
    "segunda-paleta ambientes-portada__1 ambientes-portada__2"
    "tercer-paleta ambientes-portada__3 ambientes-portada__4"
    "cuarta-paleta ambientes-portada__3 ambientes-portada__4";
    grid-template-rows: 250px 1fr 1fr 1fr 1fr;
    grid-template-columns: 25% repeat (500px);
    grid-column-gap: 50px;
}
.portada__texto{
    grid-area: portada-texto;
    display: flex;
    flex-direction: column;
    padding: 0px; 
}
/*¿CÓMO DEFINIR EL INTERLINEADO?*/
.titulo{
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: #4c2412;
}
.subtitulo{
    margin-top: 5px;
    margin-left: 50px;
    font-family: 'Alice', serif;
    font-size: 20px;
    color: #4c2412;
}
.ambientes-portada__1{
    grid-area: ambientes-portada__1;
    width: 100%;
    height: 100%;
}
.ambientes-portada__1:hover{
    background-color: #4c2412;
    cursor: pointer;
}
.ambientes-portada__2{
    grid-area: ambientes-portada__2;
    /* 
    Las fotos no ocupan el 100% del área: Probé con justify y con width y height como se ve abajo:
    _________________________
    display: flex;
    justify-self: stretch;
    align-self: stretch;
    _________________________
    width: 100%;
    height: 100%;
    */
}
.ambientes-portada__2:hover{
    background-color: #754c24;
    cursor: pointer;
}
#primer-paleta{
    grid-area: primer-paleta;
    background-color: #4c2412;
    width: 100%;
    height: 100%;
}
#segunda-paleta{
    grid-area: segunda-paleta;
    background-color: #754c24;
    width: 100%;
    height: 100%;
}
.ambientes-portada__3{
    grid-area: ambientes-portada__3;
    width: 100%;
    overflow: hidden;
}
.ambientes-portada__3:hover{
    background-color: #c5b19e;
    cursor: pointer;
}
.ambientes-portada__4{
    grid-area: ambientes-portada__4;
    width: 100%;
    overflow: hidden;
}
.ambientes-portada__4:hover{
    background-color: #d4b893;
    cursor: pointer;
}
#tercer-paleta{
    grid-area: tercer-paleta;
    background-color: #c5b19e;
    width: 100%;
    height: 100%;
}
#cuarta-paleta{
    grid-area: cuarta-paleta;
    background-color: #d4b893;
    width: 100%;
    height: 100%;
}
/*ESTILOS servicios.html*/
/*Modificar en el wireframe: Agregar servicios por tarjetas*/
/*ESTILOS equipo.html*/
.grilla__equipo{
    display: grid;
    margin: 70px;
    height: 100vh;
    grid-template-areas:
    "portada-texto1 portada-texto1" /*TITULO y SUBTÍTULO*/
    "contenido-equipo__presentacion contenido-equipo__foto";
    grid-template-rows: 200px auto;
    grid-template-columns: repeat (500px);
    overflow: hidden;
}
.contenido__equipo {
    background-color: #d4b9af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
}
.contenido__equipo--presentacion{
    grid-area: contenido-equipo__presentacion;
    justify-self: center;
    align-self: center;
    /*Alinear imagen y texto - Este grid no reconoce las columnas*/
}
.contenido__equipo--foto{
    grid-area: contenido-equipo__foto;
    align-self: flex-end;
}
/*ESTILOS blog.html*/
/*ESTILOS contacto.html*/