$font-general:  Cinzel;
$font-secundaria: Alice;
$color-general: #ffffff;
$paleta-1:#4c2412;
$paleta-2:#754c24;
$paleta-3:#c5b19e;
$paleta-4:#d4b893;

/*GOOGLE FONTS*/ 
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cinzel:wght@400;500&display=swap');
/*ESTILOS index.html*/
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.contenedor-header{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4c2412;
    opacity: 40%;
    height: 100px;
    width: 100%;
}
.contenedor-header__isologo{
    width: 7%;
    padding: 15px;
    align-self: flex-start;
}
nav ul li{
    background-color: #4c2412;
    display: inline;
    position: sticky;
    top: 5px;
    padding: 2px 20px 10px 25px;
    font-size: 20px;
    font-style: normal;
    list-style: none;
}
.color-blanco{
    color: $color-general
}
#menu-desplegable{
    height: 30%;
    width: 30%;
    justify-content: flex-end;  /*NO FUNCIONA*/
}
nav ul li:hover{
    background-color: grey;
    cursor: pointer;
}
.portada-principal{
    background-image: url(../assets/img/fondo.png);
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.contenedor-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #4c2412;
    opacity: 60%;
    height: 50px;
    width: 100%;
    padding: 10px;
}
#grilla{
    display: grid;
    margin: 70px;
    height: 100vh;
    grid-template-areas:
    "portada-texto ambientes-portada__1 ambientes-portada__2"
    "primer-paleta ambientes-portada__1 ambientes-portada__2"
    "segunda-paleta ambientes-portada__1 ambientes-portada__2"
    "tercer-paleta ambientes-portada__3 ambientes-portada__4"
    "cuarta-paleta ambientes-portada__3 ambientes-portada__4";
    grid-template-rows: 250px 1fr 1fr 1fr 1fr;
    grid-template-columns: 25% repeat (500px);
    grid-column-gap: 50px;
}
.portada__texto{
    grid-area: portada-texto;
    display: flex;
    flex-direction: column;
    padding: 0px; 
}
/*¿CÓMO DEFINIR EL INTERLINEADO?*/
.titulo{
    margin-top: 50px;
    margin-left: 50px;
    font-family: $font-general;
    font-size: 40px;
    color: $paleta-1;
}
.subtitulo{
    margin-top: 5px;
    margin-left: 50px;
    font-family: 'Alice', serif;
    color: $paleta-1;
}
#primer-paleta{
    grid-area: primer-paleta;
    background-color: $paleta-1;
    width: 100%;
    height: 10%;
}
#segunda-paleta{
    @extend #primer-paleta;
    grid-area: segunda-paleta;
    background-color: $paleta-2;
}
.ambientes-portada
    &--1{
    grid-area: ambientes-portada__1;
    width: 100%;
    height: 100%;
}
    &--2{
    grid-area: ambientes-portada__2;
}
    &--3{
    grid-area: ambientes-portada__3;
    width: 100%;
    overflow: hidden;
    background-color: $paleta-3;
}
    &--4{
    grid-area: ambientes-portada__4;
    width: 100%;
    overflow: hidden;
    background-color: $paleta-4;
}
#tercer-paleta{
    @extend #primer-paleta;
    grid-area: tercer-paleta;
    background-color: $paleta-3;
}
#cuarta-paleta{
    @extend #primer-paleta;
    grid-area: cuarta-paleta;
    background-color: $paleta-4;
}
/*ESTILOS servicios.html*/
.cards-servicios{
    width: 100%;
    height: 30%;
    background-color: #d4b9af94;
    padding: 5%;
}
#menu__card__container{
    width: 15rem;
    background: none;
    border: none;
}
.card-body{
    height: auto;
}
.card-title{
    font-family: $font-general;
    font-size: 30px;
    font-style: bold;
    color: $paleta-1;
    align-content: center;
}
.card-text{
    font-family: $font-secundaria;
    font-size; 20px;
    color: $paleta-1;
    align-content: center;
}
/*Modificar en el wireframe: Agregar servicios por tarjetas*/
/*ESTILOS equipo.html*/
.seccion__equipo{
    background-image: url(../assets/img/fondo.png);
    margin: 70px;
    height: 100vh;
}
.contenido__equipo {
    background-color: $paleta-4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}
.contenido__equipo--presentacion{
    grid-area: contenido-equipo__presentacion;
    justify-self: center;
    align-self: center;
    padding: 30px;
}
.contenido__equipo--foto{
    align-self: center;
    padding-left: 20px;
}
/*ESTILOS blog.html*/
.cards-blog{
    width: 100%;
    height: 30%;
    background-color: #d4b9af94;
    padding: 5%;
}
/*ESTILOS contacto.html*/